<% include ../header %>
<div class="container">
    <div class="row">
        <form action="/taskassigned" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Task Name</label>
              <input type="taskname" class="form-control" id="exampleInputEmail1" name="taskname" value="" aria-describedby="emailHelp">
            </div>
            <label for="exampleInputPassword1">Description</label>
            <div class="form-group">
              <textarea class="form-group" name="description" value="" rows="2" cols="80" placeholder="Give a short task description"></textarea>
            </div>
            <label for="">Details of the task:</label>
            <div class="form-group">
              <textarea name="details" id="" cols="80" rows="4" placeholder="Enter the task details in points here"></textarea>
            </div>
            <div class="form-group">
            <label for="taskassignedto">Intern Name</label>
            <select name="userid" class="form-control">
              <%for(var i=0;i<data.length;i++){ %>
                <option  value="<%=data[i]._id%>"  ><%=data[i].username%></option>
                <%}%>
            </select>


            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Team Lead Name</label>
                <input type="teamleadname" class="form-control" id="exampleInputEmail1" name="teamleadname" value="" aria-describedby="emailHelp">
              </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
            <a  class="btn btn-primary" href="/showtasks">Show Tasks</a>
          </form>

    </div>
</div>


<% include ../footer %>
