<% include ../header %>
<div class="container">
    <div class="row">
        <form action="/intern/edit/<%=data%>" method="POST">
            <div class="form-group">
                <label for="status">Status</label>
                <select name="status" class="form-control">
                    <option value="Completed">Completed</option>
                    <option value="Halfway through">Halfway through</option>
                    <option value="Completed 75%">Completed 75% </option>
                    <option value="On it">On it</option>
                    <option value="Going to start" selected>Going to start</option>
                        </select>
                        </div>
            
            <div class="form-group">
                <label for="exampleInputEmail1">Date/Time</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="date" value="" aria-describedby="emailHelp">
            </div>
            
           
            <label for="">Comment</label>
            <div class="form-group">
                <textarea name="comment" id="" cols="80" rows="4"></textarea>
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
            <a  class="btn btn-primary" href="">Show Tasks</a>
          </form>

    </div>
</div>


<% include ../footer %>