<% include header %>
<div class="container">
  <div class="jumbotron">
    <h1>WERP homepage</h1>
  </div>
  <p><a href="/admin/new">Add admin info</a></p>
  <p><a href="/intern/new">Add intern info</a></p>
</div>
<% include footer %>