<% include header %>
<div class="container">
  <div class="row">
    <h1 style="text-align:center">Add user information</h1>
    <div style="width:30%; margin:25px auto">
      <form class="" action="/interns/new" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="name" value="" placeholder="Name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="college" value="" placeholder="College">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="email" value="" placeholder="Email">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" value="" placeholder="Password">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="team" value="" placeholder="Team Name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="lead" value="" placeholder="Team Leader">
        </div>
        <div class=form-group>
          <input type="submit" class="btn btn-lg btn-primary btn-block" name="" value="submit" placeholder="submit">
        </div>
      </form>
      <a href="/">GO BACK</a>
    </div>
  </div>
</div>
<% include footer %>